@import "./mixins";
@import "./variables";
@import "./components";
@import "./null";

/* width */
::-webkit-scrollbar {
    width: 8px;
    z-index: 99999;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    //border-radius: 10px;
}

::-webkit-scrollbar-thumb:start {
    border-radius: 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html {
    scroll-behavior: smooth;
}

body {
    color: $mainColor;
    -webkit-tap-highlight-color: transparent;
    font-weight: 600;
    font-family: $fontFamily;
    font-size: $fontSize;

    &.lock {
        overflow: hidden;
    }
}

#root {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: $lightColor;
}

[aria-hidden="true"] .lock-padding {
    padding: 0px 8px 0px 0px;
}

._container {
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    padding: 0 15px;
}

.page {
    flex: 1 1 auto;
    padding: 100px 0 0;
}

._ibg {
    position: relative;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

.error {
    color: $dangerColor;
    font-size: 16px;
}

.error-container {
    padding: 15px;
    text-align: center;
}

.error-message {
    font-weight: 700;
    @include adaptiv-value("font-size", 30, 20, 1);
    color: $dangerColor;
    line-height: 120%;
}

.feedback {
    @include adaptiv-value("font-size", 42, 24, 1);
}

.form-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $dullGray;

    margin: 0px 0px 15px 0px;
}

.invalid-feedback {
    @include adaptiv-value("font-size", 24, 16, 1);
    color: $dangerColor;
}

.star {
    input[type="radio"] {
        display: none;
    }

    &-rating {
        display: inline-flex;
    }

    &:hover {
        cursor: pointer;
    }
}

.rating {
    &__title {
        color: $darkColor;
        font-weight: 400;
        font-size: 16px;
        margin: 0px 0px 10px 0px;
    }
}
